<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
<section class="top">
<h1> Palindrome .....?</h1>
<h3>Instructions: please type in one word to see if it is a Palindrome or not.</h3>
</section>
<section class="middle">
  <form action="/api" method="POST">
    <input class="word" type="text" name="word" value=""placeholder="Ex: radar, madam, orange, yellow">
    <button id="check" type="submit">Palindrome?</button>
  </form>
</section>

<section>
<h3 id="result"></h3>
</section>

<section>
  <p>Previously checked Words</p>
  <ul class="palindrome">
  <% for(var i=0; i<palindrome.length; i++) {%>
    <li class="palindrome">
      <span><%= palindrome[i].word %></span>
    </li>
  <% } %>
  </ul>
</section>


    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
